<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602018707783-mtqmu8g2c73ctql1p99q90kosrpcu8r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602018707783-mtqmu8g2c73ctql1p99q90kosrpcu8r0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602018707783-qvlqgvhbk5ssikjqa6nh3ccar4cnh20o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaEkDyJSxwdcBuwAFf54nFwzM-xc_5fqs</string>
	<key>GCM_SENDER_ID</key>
	<string>602018707783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koleks92.DishDate</string>
	<key>PROJECT_ID</key>
	<string>dishdateapp</string>
	<key>STORAGE_BUCKET</key>
	<string>dishdateapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602018707783:ios:4d7e4b2596bb7d9c457462</string>
</dict>
</plist>